* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #013243;
  /* color: white; */
}
.image-div {
  content: url("../../image/allianz-arena.jpg");
}
.image-div {
  width: 100vw;
  height: 50vh;
  opacity: 0.5;
  position: relative;
}
.team-badge {
  position: absolute;
  width: 20%;
  top: 50%;
  left: 40%;
  transform: translate(0%, -40%);
}
.team-details {
  background-image: linear-gradient(
    to right top,
    #d16ba5,
    #c777b9,
    #ba83ca,
    #aa8fd8,
    #9a9ae1,
    #8aa7ec,
    #79b3f4,
    #69bff8,
    #52cffe,
    #41dfff,
    #46eefa,
    #5ffbf1
  );
  height: 30%;
  width: 100%;
  margin-top: 10%;
  border-radius: 5px;
}
.banner img{
    width: 60%;
    height: 50%;
    border-radius: 10px;
    margin-top: 8%;
    margin-left: 30%;
}

